<div class="auth-page">
    <div class="container page">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xs-12">
                <h1 class="text-xs-center">Sign In</h1>
                <p class="text-xs-center">
                    <a [routerLink]="['/register']">Need an account?</a>
                </p>
                <app-backend-error-messages *ngIf="(backendErrors$|async )as backendErrors"
                    [backendErrors]="backendErrors"></app-backend-error-messages>
                <form class="form" [formGroup]="form">
                    <fieldset>
                        <fieldset class="form-group">
                            <input type="email" formControlName="email" class="form-control form-control-lg"
                                placeholder="Email">
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="password" formControlName="password" class="form-control form-control-lg"
                                placeholder="Password">
                        </fieldset>
                        <button [disabled]="!form.valid || (isSubmitting$ | async)"
                            class="btn btn-lg btn-primary pull-xs-right" type="submit" (click)="onLogin()">Sign
                            In</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>