<div class="article-page">
    <div class="banner">
        <div *ngIf="article$|async as article" class="container">
            <h1>{{article.title}}</h1>
            <app-article-meta [article]="article" [isAuthor]="isAuthor$|async"></app-article-meta>
        </div>
    </div>
    <div class="container page">
        <app-loader *ngIf="isLoading$ | async"></app-loader>
        <app-error-message *ngIf="error$ | async"></app-error-message>

        <ng-container *ngIf="article$|async as article">
            <div class="row article-content">
                <div class="col-xs-12">
                    <div>
                        <p>{{article.body}}</p>
                    </div>
                    <app-tag [tags]="article.tagList"></app-tag>
                </div>
            </div>
            <hr>
            <div class="article-actions">
                <app-article-meta [article]="article" [isAuthor]="isAuthor$|async"></app-article-meta>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-8 offset-md-2">
                    <div>
                        <!-- <app-backend-error-messages></app-backend-error-messages> -->
                        <form class="card comment-form"></form>
                        <ng-container *ngFor="let comment of comments$|async">
                            <app-comment [comment]="comment"></app-comment>
                        </ng-container>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>